# Base de données PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB?sslmode=require&schema=coeur_uni&connect_timeout=60"

# Configuration Email (Coeurs Unis)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="votre-email@gmail.com"
SMTP_PASS="votre-mot-de-passe-application"
SMTP_FROM="Coeurs Unis <votre-email@gmail.com>"
ADMIN_EMAIL="samyneil4@gmail.com, axeltafem650@gmail.com"

# Configuration Email Cabinet BK Immigration
SMTP_CABINET_HOST="smtp.gmail.com"
SMTP_CABINET_PORT="465"
SMTP_CABINET_USER="cabinetbk.immigration@gmail.com"
SMTP_CABINET_PASS="votre-mot-de-passe-application"
SMTP_CABINET_FROM="Cabinet BK Immigration <cabinetbk.immigration@gmail.com>"
ADMIN_EMAILS="samyneil4@gmail.com, axeltafem650@gmail.com"

# Google OAuth (Admin)
NEXT_PUBLIC_GOOGLE_CLIENT_ID="votre-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="votre-client-secret"
JWT_SECRET="votre-cle-secrete-jwt"
